body {
    background-color: rgb(86, 135, 226);
}

header {
    text-align: center;
}

h1 { 
    border: 2px solid ;
    background-color: black;
    color: white;
    width: 300px;
    height: 20px;
    padding: 10px;
    padding-bottom: 25px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 40px;
}

section {
    background-color: white;
    border-radius: 10px; /* Para curvar a bordar */
    padding: 0px;
    width: 300px;
    height: 350px;
    margin: auto;  /* Para centralizar a section */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.449);
}

div {
    text-align: center;
    box-shadow: 1px 1px 1px 1px black;
}

div#msg {
    background-color: rgba(137, 43, 226, 0.623);
}

div#foto {
    background-color: rgba(205, 184, 224, 0.936);
}

img {
    border-radius: 50%;
    padding: 20px;
    width: 250px;
    height: 250px;
}

footer {
    margin-top: 150px;
    text-align: center;
    font-style: italic;
    color: white;
    background-color: black;
    color: white;
    padding: 3px;
}

a {
    color: blue;
}
